body {
  background-image: url("src/background.jpg");
  background-color: #222222;
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  max-width: 1400px;
  margin: auto;
  padding: 0px 30px 20px 30px;
  font-family: "Space Grotesk", sans-serif;
  font-kerning: auto;
  overflow: visible;

}

h1 {
  color: white;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 58px;
  font-size: 60px;
  padding: auto;
  margin: auto;
  
}

h2 {
  color: white;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 32px;
  font-size: 30px;
  padding: auto;
  margin: auto;
}


p {
  color: white;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
  font-size: 20px;
  padding: auto;
  margin: auto;
}


a {
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  color: black;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
  font-size: 20px;
}

a:hover {
  color: white;
}

a.footer {
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
  text-align: center;
  color: black;
  letter-spacing: .5px;
  font-weight: 700;
  line-height: 24px;
  font-size: 13px;
  line-height: 10px;
}

a.footer:hover {
  color: #9adcfd;
  text-decoration: underline;
  font-style: italic;
  background-color: rgb(27, 62, 62);
  border-radius: 40px;
}

a.normal {
  color: white;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
  font-size: 20px;
  padding: 0;
  margin: auto;
  text-decoration: underline;
}

a.normal:hover {
  color: #9adcfd;
  font-style: oblique;
}

.button {
  width: 250px;
  background: rgb(255, 255, 255, .8);
  border: 1;
  padding: 12px;
  border-radius: 60px;
  transition: 0.4s ease;
  margin: 20px auto auto auto;
  border-style: dashed;
  border-color: black;
}

.button:hover {
  background: rgba(12, 29, 29, 0.8);
  cursor: pointer;
  border-color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  text-align: center;
  margin: auto;
  align-content: center;
}

.column {
  flex: 1;
  margin: auto;
  padding: 0;
}

.column-footer {
  margin: 10px auto 10px auto;
  text-align: center;
  align-content: center;
}

.nav {
  height: 50px;
  margin: auto auto 26px auto;
  padding: 20px 0 0 0;
  border-bottom: 1 px;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
  vertical-align: auto;
}

.textbox1 {
  background-image: linear-gradient(to right, rgba(33, 40, 43,.05), rgba(33, 40, 43, 0.5));
  border-radius: 20px;
  padding: 24px 24px 24px 4px;
  margin-top: 20px;
  max-width: 540px;
}

.textbox2 {
  background-color: rgba(13, 15, 16, 0.341);
  border-radius: 20px;
  padding: 20px;
  margin: 40px auto 80px auto;
  max-width: 600px;
  border-color: rgba(12, 246, 242, 0.185);
  border: 1;
  border-style: solid;
  box-shadow: 0 0 50px rgba(13, 66, 66, 0.722);
}

img {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
}

#buttonbox {
  max-width: 1100px;
  align-content: center;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  background-color: rgba(33, 40, 43, 0.502);
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 28px;
  box-shadow: 0 0 50px rgb(4, 21, 21);
}

#center {
max-width: 1100px;
text-align: center;
margin: auto;
margin-top: 60px;
padding: 0;
}


#footer {
  background-color: rgb(255, 255, 255, .95);
  border-radius: 90px;
  margin: 80px auto auto auto;
  padding: 20px;
}


@media (max-width: 1024px) {
  .column {
    width: 100%;
    flex: auto;
  }
}

@media (max-width: 500px) {
  .column {
    width: 100%;
    flex: auto;
  }

  #center {
    text-align: left;    
    }
}

.textbox1 {
  background-image: linear-gradient(to right, rgba(36, 48, 50, 0.05), rgba(33, 40, 43, 0.8));
}